# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
coverage/
out/

# Dependency directories
jspm_packages/

# Miscellaneous
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Test directories
test/
tests/

# Ignore optional npm cache
.npm/

# Set the default behavior to automatically normalize line endings
* text=auto


# Specify that .ejs and .json files should use LF line endings
*.ejs text eol=lf
*.json text eol=lf