<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>   
    <%- include("../partials/nav")  %> 
    <div class="container mt-3">
        <div class="text-center">
            <h4>Şifre Sıfırlama Sayfası</h4>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="post" action="/account/new-password">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Şifre</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                  
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                          <button type="submit" class="btn btn-success col-12">Parolayı Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>



