<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include("../partials/head")  %> 
    </head>
</head>
<body>
    <div class="container alert alert-danger">
        <h1 class="text-center">OOPS!!!</h1>
        <p>Somethings is wrong</p>
        <a href="/blogs">Go to Main Page</a>
    </div>
</body>
</html>